<!DOCTYPE html>
<html lang="es">
  <head>
    {{>head}}
  </head>
  <body>
    {{>nav}}
	<h1>Detalles del producto</h1>


<!-- Ejemplo<div class="productos"> 
{{#each productos}}
{{#if hayStock}}
<p> el producto{{id}}  y el precio {{precio}} </p>


{{else}}
<p> el producto {{id}} no hay stock la cantidad es {{cantidad}}</p>
{{/if}}
{{/each}}


</div>-->


    <!-- Tomará UN OBJETO -->
    <section class="single-product">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-5">
                    <img src="{{productos.rutaImagen}}" alt="product-img" class="img-fluid" />
					
                </div>
                <div class="col-md-7">
                    <div class="single-product-details">
                        <h2>{{productos.nombre}}</h2>
                        <p class="product-price">{{productos.precio}}</p>

                        <p class="mt-2">
                            {{productos.descripcion}}
                        </p>

                        {{productos.caracteristicas}}
                        

                        <!--<a href="mailto:comprar@comprar.com?subject=interes en el producto {{productos.nombre}} ID: {{productos.id}}"
                            class="btn btn-info mt-20">Comprar</a>-->

                    </div>
                </div>
            </div>

        </div>
    </section>
	
	
	
	
	
	{{>footer}}
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>



 